adjustText
alabaster
Babel
certifi
chardet
cycler
docutils
idna
imagesize
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
olefile
packaging
Pillow
Pygments
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
threadpoolctl
tornado
tqdm
urllib3
